@import './variable';

body 
{
    font-family: 'Lato',sans-serif;
    -webkit-font-smoothing:antialiased;
    color: $dark;   
}

nav li:last-child a{
    
    background: $primary;
}

nav li:last-child a:hover{
    transition: $smooth;
    background: $primary-hover;
}


nav li a:hover{
    transition: $smooth;
    color: $primary;
}

section.hero{
    background: $secondary;
}

.size{
    background: $secondary;
}

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;

    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure
    }

}